body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding-top: 70px; /* Adjusted to accommodate the fixed navbar */
}

.navbar {
    transition: all 0.3s;
}

.navbar.scrolled {
    background-color: #343a40; /* Darker background color when scrolled */
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

.section {
    text-align: center;
    padding: 0px 0px 0px 0px; /* Adjusted padding for sections */
}

.section h2 {
    font-size: 2.5rem;
}

.section p {
    font-size: 1.1rem;
    line-height: 1.8;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
}

.social-icons a:hover {
    color: #ffc107;
    transform: scale(1.2);
}

.form-control {
    background-color: #343a40;
    border: 1px solid #343a40;
    color: #fff;
}

.form-control:focus {
    background-color: #343a40;
    border: 1px solid #ffc107;
    color: #fff;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #343a40;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #e0a800;
    color: #343a40;
}

@media (max-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
    
    .navbar-nav .nav-link {
        font-size: 1rem;
    }
    
    .section h2 {
        font-size: 2rem;
    }
    
    .section p {
        font-size: 1rem;
    }
}

footer {
    background-color: #343a40;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
